.level {
  width: 24px;
  height: 24px;
  margin-right: 1%;
  &.color-0 {
    background-color: #90be6d;
  }
  &.color-1 {
    background-color: #ffba08;
  }
  &.color-2 {
    background-color: #f94144;
  }
}

button {
  outline: none;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: white;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  &.primary {
    background-color: thistle;
  }
  &.button-red {
    background-color: #f94144;
  }

  &.button-yellow {
    background-color: #ffba08;
  }

  &.button-green {
    background-color: #90be6d;
  }
}
